<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Captionize needs access to your photo library to add captions to your videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Captionize needs permission to save your edited videos to the photo library.</string>
</dict>
</plist>
